* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

section {
    font-family: 'Poppins', sans-serif;
    height: 95vh;
}

.page_1 {
    display: flex;
    flex-direction: column;
    background: url(photo/m-black-overlay.jpg);
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    background: rgba(0, 0, 0, 0.4);
}

.logo {
    margin-left: 3rem;
    text-shadow: 2px 2px 2px #f5deb3;
    margin-right: auto;
    color: rgb(244, 183, 108);
    font-weight: bold;
    font-size: 2rem;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    font-weight: 700;
}

a,
button {
    margin-left: 5%;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500px;
    color: wheat;
    text-decoration: none;
    cursor: pointer;
}

button {
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(244, 183, 108);
    border-radius: 50px;
    padding: 9px 25px;
}

nav li a:hover {
    color: rgb(244, 183, 108);
    transition: all 0.4s ease 0s;
}

button:hover {
    background-color: rgb(244, 183, 108);
    transition: all 0.4s ease 0s;
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 4rem;
}

.one {
    font-size: 7rem;
    color: #f5deb3;
}

.two {
    font-size: 8rem;
    color: rgb(244, 183, 108);
}

footer {
    display: flex;
    align-items: center;
    padding: 0 4.5rem;
}

.page_2 {
    color: #1d1836;
    background: rgb(244, 183, 108);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem;
    column-gap: 20px;
}

.img {
    height: 80vh;
    width: 50%;
    background: url(photo/logo_main-removebg.png);
    background-size: cover;
    background-position: center;
}

.about {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.about h1 {
    font-size: 2rem;
}

.about p {
    font-size: 1.5rem;
}

.page_3 {
    display: flex;
    background: #0e0d14;
    padding: 5rem;
}

.page_3-text {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    padding: 2rem;
    width: 40%;
    height: 75vh;
    color: #f4b76c;
    justify-content: center;
    align-items: center;
}

.grid {
    border: 0.5rem;
    padding: 0.8rem;
    height: 75vh;
    width: 60%;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.item_1 {
    background: url(photo/flutter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2em;
    grid-column: 1/2;
    grid-row: 1/4;
}

.item_2 {
    background: url(photo/android.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 1/3;
}

.item_3 {
    border-top-right-radius: 2em;
    background: url(photo/CSS.webp);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 3/4;
    grid-row: 1/4;
}

.item_4 {
    background-image: url(photo/pyhton.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 2em;
    grid-column: 1/2;
    grid-row: 4/6;
}

.item_5 {
    background-image: url(photo/wallpaperflare-cropped.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 3/6;
}

.item_6 {
    background-image: url(photo/nlp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 2em;
    grid-column: 3/4;
    grid-row: 4/6;
}

.page_4 {
    display: flex;
    background-color: #f4b76c;
    padding: 0.6em;
}

.page_4-center {
    height: 95vh;
    flex: 1.5;
    font-weight: 900;
    background-color: #f4b76c;
    color: #0e0d14;
    font-size: 4em;
    display: flex;
    row-gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_4-left,
.page_4-right {
    height: 95vh;
    flex: 4;
    background: #0e0d14;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.p-p {
    background: aqua;
    grid-row: span 2;
    grid-column: span 2;
}

.p-title {
    color: aqua;
    grid-row: span 2;
    grid-column: span 1;
}
